# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#VS
*.filters
*.user
*.vs
*.vcxproj
*.recipe
*.log
*.tlog
*.ilk
*.lastbuildstate
*.idb
*.pdb
*.vcxproj
2DGame/02-Bubble/02-Bubble/02-Bubble.vcxproj
